@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans';
    background-image: url(../../public/bodybg.jpg);
    @apply transition-all ease-out duration-300 bg-cover bg-center bg-no-repeat;
}

/* Page Layout */

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Typography */

h1 {
    line-height: 160px !important;
    letter-spacing: -0.045em;
    @apply text-lightblack font-medium text-125;
}

h2 {
    @apply text-6xl font-semibold text-lightblack ;
}

sup {
    @apply text-3xl font-bold;
}

sub {
    @apply text-3xl font-bold relative -top-0.5
}

/* Header */

header li {
    @apply after:absolute after:border-b after:bottom-0 after:border-black after:left-0 after:right-0 after:w-0 after:hover:w-full after:m-auto after:transition-all after:duration-300;
}

/* Buttons */

.cst_fill {
    @apply border-black border px-5 py-2.5 rounded-full bg-purple hover:bg-black hover:text-white transition-all ease-out duration-300 text-sm font-medium tracking-widest uppercase inline-block;
}

.cst_fill:hover{
  @apply translate-x-1.5;
}

/* Banner Section */

.cst_and {
    @apply border-lightblack rounded-full text-70 inline-flex items-center justify-center w-105rem h-105rem pb-1 relative bottom-3 left-4 border-6;
}
