@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans';
    background-image: url(../../public/bodybg.jpg);
    @apply transition-all ease-out duration-300 bg-cover bg-center bg-no-repeat;
}

/* Page Layout */

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Typography */

h1 {
    line-height: 160px !important;
    letter-spacing: -0.045em;
    @apply text-lightblack font-medium text-125;
}

h2 {
    @apply text-6xl font-semibold text-lightblack ;
}

sup {
    @apply text-3xl font-bold;
}

sub {
    @apply text-3xl font-bold relative -top-0.5
}

/* Header */

header li {
    @apply after:absolute after:border-b after:bottom-0 after:border-black after:left-0 after:right-0 after:w-0 after:hover:w-full after:m-auto after:transition-all after:duration-300;
}

/* Buttons */

.btn {
  @apply px-6 py-2.5 transition-all ease-out duration-300 text-sm font-medium tracking-widest uppercase inline-flex items-center border rounded-full;
}

.cst_fill {
    @apply border-black bg-purple hover:bg-black hover:text-white;
}

.btn:hover{
  @apply translate-x-1.5;
}

.btn:hover img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.cst_bg_tran {
  @apply border-black bg-transparent hover:bg-black hover:text-white;
}

/* Banner Section */

.cst_and {
    @apply border-lightblack rounded-full text-70 inline-flex items-center justify-center w-105rem h-105rem pb-1 relative bottom-3 left-4 border-6;
}

.scroll_down {
    @apply w-9 h-16 border-2 border-lightblack rounded-3xl relative m-auto cursor-pointer pointer-events-auto block;
}

.scroll_down::before {
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
  @apply w-3 h-3 absolute top-3 left-1/2 bg-lightblack rounded-full opacity-100 content-[''] -translate-x-1/2;
}

@keyframes wheel {
  to {
    @apply opacity-0 top-8 ;

  }
}
@-webkit-keyframes wheel {
  to {
    @apply opacity-0 top-14 ;
  }
}